body
    background-color: white

hr
    background-color: $grayscaleLine
    border-width: 0
    height: 1px
    margin-bottom: 1.5rem

@import lists

img
    height: auto
    max-width: 100%

figure
    margin: 1rem 0

@import table
